<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>User</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/boot-single.css"/>
</head>
<body>
<div class="col-md-offset-1 col-md-10">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>年龄</th>
            <th>手机号</th>
            <th>地址</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody th:each="user:${pageResult.rows}">
        <tr>
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.username}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.phoneNo}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.createTime}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 分页 -->
    <nav aria-label="Page navigation" data-th-align="center">
        <ul class="pagination pagination-lg">
            <li th:class="${pageResult.first}?'disabled'">
                <a th:if="${pageResult.first}" href="javascript:void(0);">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a th:if="${!pageResult.first}"
                   th:href="@{/user(page=${pageResult.page -1},size=${pageResult.size})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="index:${#numbers.sequence(1,pageResult.totalPages)}"
                th:classappend="${index==pageResult.page}?'active'">
                <a th:text="${index}" th:href="@{/user(page=${index},size=${pageResult.size})}">1</a>
            </li>
            <li th:class="${pageResult.last}?'disabled'">
                <a th:if="${pageResult.last}" href="javascript:void(0);">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a th:if="${!pageResult.last}"
                   th:href="@{/user(page=${pageResult.page +1},size=${pageResult.size})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li><span th:text="'总记录数'+${pageResult.total}+'条'">总条数1条</span></li>
        </ul>
    </nav>
</div>

<!-- 先导入jquery, 再导入bootstrap.js -->
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>